version: '3.7'
services: 
    db:
        image: 'postgres:latest'
        container_name: postgres_db
        environment:
            POSTGRES_PASSWORD: postgres
            POSTGRES_USER: postgres
            POSTGRES_DB: pebmedapi

        volumes:
            - ./pgdata:/usr/var/lib/postgresql/data
            
        ports:
            - "5433:5432"
    